/* common css */

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #d6d6d6;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Utility classes for positioning */
.ui-pos-rel {
  position: relative;
}

.ui-pos-abs {
  position: absolute;
}

.ui-ov-hidden {
  overflow: hidden;
}

/* Container with max-width and padding */
.ui-container-1900 {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}


@media (min-width: 1630px) {
  .ui-container-1630 {
    max-width: 1630px;

  }
}

.ui-container-1920 {
  max-width: 1920px;
  padding-left: 0;
  padding-right: 0;
}



/* Background color classes */
.ui-bg-primary {
  background-color: var(--primary);
  /* Primary background color */
}

.ui-bg-white {
  background-color: var(--white);
  /* White background color */
}

.ui-bg-black {
  background-color: var(--black);

  @include dark {
    background-color: #171717;
  }
}

.ui-bg-light-gray {
  background-color: #F0F0F0;

  @include dark {
    background-color: #212121;
  }
}

.ui-bg-light {
  background-color: #F8F2EF;

  @include dark {
    background-color: #111111;
    --primary: #F8F2EF;
  }
}

.ui-text-white {
  color: var(--white);
}

.ui-text-primary {
  color: var(--primary);
}

.text-gray {
  color: #555555;

  @include dark {
    color: #999999;
  }
}

.ui-light {
  color: #F8F2EF;
}

.agency-body-border {
  border-right: 1px solid rgba(17, 17, 17, 0.20);
  border-left: 1px solid rgba(17, 17, 17, 0.20);

  @include dark {
    border-color: rgba(255, 255, 255, 0.2);
  }

  @media #{$sm} {
    border: none;
  }
}

/* Full background image styling */
.ui-bg-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Centering utility */
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Parallax view styling */
.parallax-view {
  overflow: hidden;
}

.section-subtitle {
  font-size: 18px;
  font-weight: 400;
  padding: 3px 15px;
  line-height: 26px;
  border-radius: 4px;
  color: rgba(15, 14, 14, 0.6);
  display: inline-block;
  border: 1px solid var(--border);
}

.section-subtitle-2 {
  font-size: 18px;
  font-weight: 400;
  padding: 3px 19px;
  line-height: 26px;
  border-radius: 50px;
  color: rgba(15, 14, 14, 0.6);
  display: inline-block;
  border: 1px solid var(--border);
}

.section-subtitle-3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 12px;
  color: rgba(15, 14, 14, 0.6);
  display: inline-flex;
  align-items: center;

  &:before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: currentColor;
    border-radius: 50%;
    margin-right: 12px;
  }
}

.section-subtitle-4 {
  font-size: 15px;
  font-weight: 400;
  padding: 12px 17px;
  line-height: 15px;
  text-transform: uppercase;
  border-radius: 4px;
  color: rgba(15, 14, 14, 0.6);
  display: inline-flex;
  border: 1px solid var(--border);
  align-items: center;
  gap: 12px;
}


/* Section title styling with responsive font sizes */
.section-title {
  font-size: 64px;

  @media #{$xxl} {
    font-size: 60px;
  }

  @media #{$xl} {
    font-size: 56px;
  }

  @media #{$lg} {
    font-size: 50px;
  }

  @media #{$md} {
    font-size: 40px;
  }

  @media #{$sm} {
    font-size: 35px;
  }
}

.section-title-2 {
  font-size: 80px;

  @media #{$xxl} {
    font-size: 70px;
  }

  @media #{$xl} {
    font-size: 60px;
  }

  @media #{$lg} {
    font-size: 50px;
  }

  @media #{$md} {
    font-size: 40px;
  }

  @media #{$sm} {
    font-size: 35px;
  }
}

.section-title-3 {
  font-size: 36px;

  @media #{$xl} {
    font-size: 34px;
  }

  @media #{$lg} {
    font-size: 30px;
  }

  @media #{$md} {
    font-size: 28px;
  }

  @media #{$sm} {
    font-size: 26px;
  }
}

.text-reveal-line {
  overflow: hidden;
}


/* Section spacing with responsive padding */
.section-spacing {
  padding-top: 160px;
  padding-bottom: 160px;

  @media #{$xxl} {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  @media #{$xl} {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media #{$lg} {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-spacing-top {
  padding-top: 160px;

  @media #{$xxl} {
    padding-top: 110px;
  }

  @media #{$xl} {
    padding-top: 80px;
  }

  @media #{$lg} {
    padding-top: 60px;
  }
}

.section-spacing-bottom {
  padding-bottom: 160px;

  @media #{$xxl} {
    padding-bottom: 110px;
  }

  @media #{$xl} {
    padding-bottom: 80px;
  }

  @media #{$lg} {
    padding-bottom: 60px;
  }
}

/* Container styling with full HD support */
.container {
  --bs-gutter-x: 30px;

  &.full-hd {
    @media (min-width: 1600px) {
      max-width: 1920px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
}


/* Side info and offcanvas styling */
.offcanvas-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 900;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.offcanvas-overlay.overlay-open {
  opacity: 0.5;
  visibility: visible;
}

.side-info-close {
  font-size: 20px;
  padding: 0;
  transition: all 0.3s linear;
  background-color: transparent;
  color: var(--black);
  width: 40px;
  height: 40px;
  border: 1px solid var(--black);
  border-radius: 50%;
  line-height: 38px;

  @include dark {
    border-color: var(--white);
    color: var(--white);
  }

  &:hover {
    transform: rotate(90deg);
  }
}

.side-info {
  background: var(--white) none repeat scroll 0 0;
  padding: 40px 45px;
  position: fixed;
  right: 0;
  top: 0;
  width: 500px;
  height: 100%;
  transform: translateX(calc(100% + 80px));
  transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
  z-index: 9999;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scrollbar-width: none;

  @include dark {
    background-color: #1F1F1F;
  }

  @media #{$lg} {
    width: 460px;
  }

  @media #{$xs} {
    width: 100%;
    padding: 30px 20px;
  }

  ::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
  }

  &.info-open {
    opacity: 1;
    transform: (translateX(0));
    /* Show side info */
  }
}

/* Offset header and logo styling */
.offset {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    width: 115px;

    @media #{$xs} {
      width: 105px;
    }

    img {
      width: 100%;
    }
  }

  &-button {
    margin-top: 40px;

    @media (min-width: 576px) {
      display: none;
    }
  }
}

/* Offset widget box styling */
.offset-widget-box {
  margin-top: 40px;

  .title {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 15px;

    @media #{$xxl} {
      margin-bottom: 22px;
    }
  }

  .contact-meta>*:not(:first-child) {
    margin-top: 16px;
  }

  .contact-item {
    display: flex;
    align-items: center;
    gap: 14px;

    span {
      color: var(--primary);
      font-weight: 400;

      a {
        &:hover {
          color: var(--secondary);
        }
      }
    }

    .icon {
      width: 40px;
      min-width: 40px;
      height: 40px;
      display: inline-flex;
      border: 1px solid var(--border);
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: var(--primary);
    }
  }
}

/* Mobile menu customization */
.mobile-menu {
  margin-top: 40px;

  &.mean-container {
    .mean-nav>ul {
      padding: 0;
      margin: 0;
      width: 100%;
      list-style-type: none;
      display: block !important;

      >li:last-child>a {
        border-bottom: 1px solid var(--border);
      }
    }

    .mean-nav {
      background: none;
      margin-top: 0;

      .new {
        font-size: 10px;
        font-weight: 600;
        background: #FFA38E;
        color: #999999;
        padding: 3px 7px;
        line-height: 1;
        display: flex;
        align-items: center;
        border-radius: 2px;
      }

      ul li {
        a {
          width: 100%;
          padding: 15px 0;
          padding-inline-start: 0px;
          font-weight: 400;
          font-size: 18px;
          line-height: 1;
          color: var(--primary);
          text-transform: capitalize;
          border-top: 1px solid var(--border);
          display: flex;
          gap: 8px;
          justify-content: flex-start;
          align-items: center;
          outline: none;
          transform: translateY(var(--y)) translateZ(0);
          transition: transform .4s ease, box-shadow .4s ease;
          box-sizing: border-box;
          opacity: 1;

          @media #{$sm} {
            font-size: 20px;
          }

          &:hover {
            color: var(--primary);
          }

          &.mean-expand {
            width: 100%;
            height: 48px;
            justify-content: end;
            font-weight: 300;
            border: none !important;
            background-color: transparent;
            font-size: 28px !important;

            @media #{$sm} {
              height: 50px;
            }

            &:hover {
              background: rgba(255, 255, 255, .1);
              opacity: 1;
            }
          }
        }

        li {
          &:first-child {
            border-top: 1px solid var(--border);
          }

          a {
            font-size: 16px;
            text-transform: capitalize;
            border-top: none !important;
            padding: 12px 0;
            padding-inline-start: 15px;

            &.mean-expand {
              height: 58px;

              @media #{$md} {
                height: 25px;
              }

              @media #{$sm} {
                height: 22px;
              }
            }
          }

          li {
            &:last-child {
              border-bottom: 1px solid var(--border);
            }

            a {
              padding-left: 40px;
            }
          }
        }
      }
    }

    .mean-bar {
      padding-bottom: 30px;
      background: none;
      max-height: auto;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    a.meanmenu-reveal {
      display: none !important;
    }
  }
}

/* Sticky header styling */
.header-sticky {
  transition: all 0.5s;
}

.transformed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 800;
  transform: translateY(-100%);

  .header-area__inner {
    height: 80px;
  }
}

.sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 800;
  background-color: #FFFFFF;
  transform: translateY(0%);

  .header-area__inner {
    height: 80px;
  }
}




/* Inverted text style */
.text-invert>div {
  background-image: linear-gradient(to right,
      var(--primary) 50%,
      rgba(15, 14, 14, 0.1) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}