/* img-reveal css */
/* img-reveal area style  */
.content {
    position: relative;
    z-index: 2;
}

.content__img {
    width: 250px;
    aspect-ratio: 1.1;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    will-change: transform, filter;
}

.content__img-inner {
    background-position: 50% 50%;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-size: cover;
    position: absolute;
    top: calc(-1 * 20px / 2);
    left: calc(-1 * 20px / 2);
}