// Responsive Variables
$x5l: 'only screen and (min-width: 1801px) and (max-width: 1850px)';
$x4l: 'only screen and (min-width: 1701px) and (max-width: 1800px)';
$x3l: 'only screen and (min-width: 1600px) and (max-width: 1700px)';

/* offcanvas css */
// -------- ui-offcanvas -------//
.ui-offcanvas {
    &-area {
        position: relative;

        &.opened {
            & .animated-text {
                &>nav>ul>li a {
                    &::after {
                        visibility: visible;
                        opacity: 1;
                        bottom: 35px;
                    }

                    &::before {
                        width: 100%;
                    }
                }
            }

            & .ui-offcanvas {

                &-left,
                &-right {
                    visibility: visible;
                    opacity: 1;
                }

                &-wrapper {
                    visibility: visible;
                    opacity: 1;
                }

                &-bg {

                    &.is-left,
                    &.is-right {
                        transform: scale(1, 1);
                        transition-delay: 0s;
                    }
                }

                &-menu {
                    transition-delay: 0s;
                }

                &-close {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: .9s;
                }
            }
        }

        & .ui-offcanvas-menu {
            &>nav {
                &>ul {
                    &>li {
                        &>a {
                            font-weight: 700;
                            font-size: 50px;
                            line-height: 1;
                            color: #717172;
                            letter-spacing: -0.02em;

                            @media #{$md} {
                                font-size: 35px;
                            }

                            @media #{$xs} {
                                font-size: 30px;
                            }

                            &::after {
                                position: absolute;
                                left: 0;
                                top: 3px;
                                font-weight: 500;
                                font-size: 13px;
                                content: "0" counter(count);
                                counter-increment: count;
                                color: rgba(113, 113, 114, 0.8);
                            }
                        }

                        &.is-active {
                            &>a {
                                color: var(--white);
                            }

                            & .ui-menu-close i {
                                color: var(--white);
                            }
                        }

                        &>ul {
                            &>li {
                                &>a {
                                    font-weight: 600;
                                    font-size: 30px;
                                    line-height: 1;
                                    transition: .3s;
                                    color: #717172;
                                    letter-spacing: -0.02em;

                                    @media #{$md,$xs} {
                                        font-size: 20px;
                                    }

                                    &:hover {
                                        transform: translateX(15px);
                                        color: var(--white);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .ui-offcanvas-menu .ui-submenu li a:hover {
            background-color: initial;
            color: var(--white);
        }

        & .ui-offcanvas-menu ul li:not(:last-child)>a {
            border-bottom: 0;
        }

        & .ui-offcanvas-menu ul li>a {
            padding: 0;
            padding-left: 30px;
        }


        & .ui-offcanvas-menu ul li .submenu {
            padding-left: 20px;
            margin-top: 40px;
            margin-bottom: 56px;

            @media #{$md,$xs} {
                padding-left: 0;
            }

            & li {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }

        &.offcanvas-2-white-bg {
            & .ui-offcanvas-bg.is-left {
                background: var(--white);
            }

            & .ui-offcanvas-logo {
                & .logo-1 {
                    display: none;
                }
            }

            & .ui-offcanvas-menu>nav>ul>li.is-active>a {
                color: var(--black);
            }

            & .ui-offcanvas-menu>nav>ul>li.is-active .ui-menu-close i {
                color: var(--black);
            }

            & .ui-offcanvas-menu>nav>ul>li>a {
                color: #D5D5D5;
            }

            & .ui-offcanvas-menu>nav>ul>li>ul>li>a {
                color: var(--black);
            }

            & .ui-offcanvas-menu .ui-submenu li a:hover {
                background-color: initial;
                color: var(--black);
            }

            & .ui-offcanvas-bg.is-right {
                background-color: #F6F6F9;
            }

            & .ui-offcanvas-right-info-title {
                color: var(--black);
            }


            & .ui-offcanvas-right-social a {
                color: var(--black);
                border: 1px solid rgba(0, 0, 0, 0.1);

                &:hover {
                    color: var(--white);
                    border-color: var(--black);
                    background-color: var(--black);
                }
            }

            & .ui-offcanvas-close-btn .text {
                color: var(--black);
            }

            & .ui-offcanvas-close-btn {
                color: var(--black);
            }
        }

        &.offcanvas-2-black-bg {
            & .ui-offcanvas-logo {
                & .logo-2 {
                    display: none !important;
                }
            }
        }
    }

    &-bg {
        &.left-box {
            position: fixed;
            top: 0;
            height: 100%;
            width: 60%;
            transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
            z-index: 1111;

            @media #{$sm} {
                width: 100%;
            }
        }

        &.right-box {
            position: fixed;
            top: 0;
            height: 100%;
            width: 40%;
            transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
            z-index: 1111;

            @media #{$xs} {
                width: 100%;
            }
        }

        &.is-left {
            left: 0;
            transform: scale(1, 0);
            transform-origin: top center;
            background: var(--black);
            transition-delay: 1s;
        }

        &.is-right {
            right: 0;
            transform-origin: bottom center;
            transform: scale(1, 0);
            background-color: #1C1D20;
            transition-delay: 1s;
        }
    }

    &-wrapper {
        & .left-box {
            position: fixed;
            top: 0;
            width: 60%;
            height: 100vh;
            z-index: 9999;
            overflow-y: scroll;
            pointer-events: auto;
            scrollbar-width: none;
            padding: 40px 80px 50px 80px;

            @media #{$md} {
                padding: 40px 40px;
            }

            @media #{$sm} {
                width: 100%;
                padding: 30px 20px;
            }

            & .ui-offcanvas-menu {
                padding: 0px 125px;

                @media #{$xxl,$xl} {
                    padding: 0 70px;
                }

                @media #{$lg,$md} {
                    padding: 0 20px;
                }

                @media #{$xs} {
                    padding: 0;
                }

                .mobile-menu.mean-container .mean-nav ul li a {
                    font-size: 40px;
                    padding: 25px 0;

                    @media #{$xxl} {
                        font-size: 30px;
                        padding: 15px 0;

                    }

                    @media #{$lg} {
                        font-size: 24px;
                    }
                }

                .mobile-menu.mean-container .mean-nav ul li a.mean-expand {
                    height: 70px;
                    font-size: 38px !important;

                    @media #{$xxl} {
                        height: 60px;
                        font-size: 28px !important;

                    }

                    @media #{$lg} {
                        height: 54px;

                    }
                }

                .mobile-menu.mean-container .mean-nav ul li li a {
                    font-size: 30px;
                    padding: 15px 0;
                    padding-inline-start: 15px;


                    @media #{$xxl} {
                        font-size: 24px;
                    }

                    @media #{$lg} {
                        font-size: 18px;
                    }
                }
            }
        }

        & .right-box {
            position: fixed;
            top: 0;
            width: 40%;
            height: 100vh;
            z-index: 9999;
            padding: 50px 100px 50px 0;
            scrollbar-width: none;
            overscroll-behavior-y: contain;

            @media #{$md} {
                padding-right: 40px;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            @media #{$xs} {
                width: 100%;
            }
        }

        & .ui-menu-close {
            top: 10px;
            height: 0;
            width: 0;

            @media #{$xs} {
                top: 0;
                right: 20px;
            }

            & i {
                font-size: 20px;
                color: #717172;
            }
        }
    }

    &-left {
        visibility: hidden;
        opacity: 0;
        left: 0;
        transition: .3s;
        transition-delay: .8s;

        &-wrap {
            @media #{$sm} {
                margin-bottom: 80px;
            }
        }
    }

    &-right {
        visibility: hidden;
        opacity: 0;
        right: 0;
        transition: .3s;
        transition-delay: .8s;

        &-inner {
            height: 100%;
            padding: 100px;

            @media #{$xl} {
                padding-left: 50px;
                padding-right: 50px;
            }

            @media #{$lg} {
                padding: 50px;
            }

            @media #{$md} {
                padding: 30px;
            }
        }

        &-info {
            &-box {
                margin-top: 160px;
                padding: 0 200px;

                @media #{$x5l,$x4l} {
                    padding-right: 100px;
                }

                @media #{$x3l,$xxl} {
                    padding: 0 100px;
                }

                @media #{$xl} {
                    padding: 0 100px;
                    padding-right: 0;
                }

                @media #{$lg} {
                    padding: 0 70px;
                    padding-right: 0;
                }

                @media #{$md} {
                    padding: 0 60px;
                    padding-right: 0;
                    margin-top: 130px;
                }
            }

            &-title {
                font-weight: 500;
                font-size: 34px;
                line-height: 1;
                margin-bottom: 35px;
                color: var(--white);
            }

            &-item {
                margin-bottom: 30px;

                & label {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1;
                    display: block;
                    color: var(--primary);
                    margin-bottom: 10px;
                }

                &>a {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 1;
                    letter-spacing: -0.01em;

                    @media #{$lg,$md,$xs} {
                        & br {
                            display: none;
                        }
                    }
                }
            }
        }

        &-social {
            & a {
                height: 40px;
                width: 40px;
                transition: .3s;
                line-height: 35px;
                text-align: center;
                border-radius: 50%;
                display: inline-block;
                color: var(--white);
                border: 1px solid rgba(255, 255, 255, 0.1);

                &:hover {
                    color: var(--black);
                    border-color: var(--white);
                    background-color: var(--white);
                }
            }
        }
    }

    &-close {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        transition-delay: .5s;
        transform: translateY(20px);

        @media #{$md} {
            padding-right: 30px;
        }

        @media #{$xs} {
            padding-right: 0px;
        }

        &-btn {
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            color: var(--white);
            display: inline-flex;
            align-items: center;

            & .text {
                width: 60px;
                height: 20px;
                transition: .3s;
                overflow: hidden;
                display: inline-block;
                transform: translateY(4px);
                color: var(--white);

                & span {
                    transition: .3s;
                    display: inline-block;
                    transform: translateX(130%);
                }
            }

            &:hover {
                & .text {
                    & span {
                        transform: translateX(0%);
                    }
                }

                & span {
                    & svg {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }

    &-text {
        right: 0;
        bottom: 0;
        position: absolute;
        transform: rotate(-90deg) translateY(100%);

        & span {
            font-size: 320px;
            font-weight: 700;
            color: rgba($color: #212329, $alpha: 0.3);
        }
    }

    &-logo {
        margin-bottom: 105px;

        @media #{$sm} {
            margin-bottom: 0;
        }

        & .logo-2 {
            display: block !important;
        }
    }
}