/* process css */
/* process area style  */
.process-wrapper {
    display: grid;
    gap: 50px 80px;
    grid-template-columns: repeat(4, 1fr);
    position: relative;

    @media #{$lg} {
        gap: 50px 60px;
    }

    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);

    }

    @media #{$xs} {
        grid-template-columns: repeat(1, 1fr);

    }

    &:before {
        position: absolute;
        content: "";
        width: 5000px;
        height: 1px;
        background-color: rgba(15, 14, 14, 0.12);
        top: 5px;
        left: 50%;
        transform: translateX(-50%);

        @media #{$md} {
            display: none;
        }
    }
}

.process-box {
    position: relative;
    padding-top: 42px;

    @media #{$lg} {
        padding-top: 32px;

    }

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(15, 14, 14, 0.12);
        top: 5px;
        left: 0;
        display: none;

        @media #{$md} {
            display: block;
        }
    }

    &:after {
        position: absolute;
        content: "";
        width: 11px;
        height: 11px;
        background-color: var(--black);
        border-radius: 50%;
        top: 0;
        left: 0;
    }

    .title {
        font-weight: 400;
        font-size: 30px;
        line-height: 1.4;
        text-transform: capitalize;

        @media #{$lg} {
            font-size: 24px;
        }
    }

    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-top: 15px;
    }
}

.process-thumb-gallery {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 93px;

    @media #{$xxl} {
        margin-top: 63px;
    }

    @media #{$lg} {
        margin-top: 43px;
        gap: 30px;
    }

    @media #{$md} {
        gap: 15px;
    }

    @media #{$xs} {
        grid-template-columns: 1fr;
    }

    img {
        width: 100%;
    }
}

/* process-2 area style  */
.process-2-area {
    position: relative;
    z-index: 1;

    .area-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;

        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(15, 14, 14, 0.5);
            z-index: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.process-2-inner {
    padding-top: 80px;
    padding-bottom: 110px;
    display: grid;
    gap: 40px 60px;
    grid-template-columns: 600px 670px;
    justify-content: space-between;
    align-items: flex-start;



    @media #{$xl} {
        padding-bottom: 80px;
        grid-template-columns: 520px 600px;
    }

    @media #{$lg} {
        padding-top: 60px;
        padding-bottom: 60px;
        grid-template-columns: 1fr 440px;
    }

    @media #{$md} {
        grid-template-columns: 1fr;
    }
}

.process-2-content {
    .section-subtitle-3 {
        background-color: var(--white);
        border-radius: 6px;
        padding: 12px 20px 12px 30px;
    }

    .title-wrapper {
        margin-top: 61px;

        @media #{$xl} {
            margin-top: 41px;
        }

        @media #{$lg} {
            margin-top: 31px;
        }
    }

    .section-title {
        color: var(--white);
    }

    .text-wrapper {
        margin-top: 22px;
    }

    .text {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.7);
    }

}

.process-2-box {

    .content {
        background-color: var(--white);
        border-radius: 20px;
        padding: 30px;

        @media #{$lg} {
            padding: 15px;
        }
    }

    .thumb {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
    }

    .thumb img {
        width: 100%;
    }

    .btn-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: var(--white);
        padding: 15px 0 0 15px;
        border-radius: 20px 0 0 0;

        &:before {
            width: 40px;
            height: 40px;
            background-color: transparent;
            border-radius: 20px;
            content: "";
            position: absolute;
            left: -40px;
            bottom: 0;
            box-shadow: 20px 20px 0 var(--white);
        }

        &:after {
            width: 40px;
            height: 40px;
            background-color: transparent;
            border-radius: 20px;
            content: "";
            position: absolute;
            top: -40px;
            right: 0;
            box-shadow: 20px 20px 0 var(--white);
        }
    }

    .ui-btn-group {
        &:hover {
            .btn-text {
                background-color: var(--black);
                color: var(--white);
            }

            .btn-icon {
                background-color: var(--black);
                color: var(--white);
            }
        }

        .btn-text {
            background-color: var(--theme);
            color: var(--black);
        }

        .btn-icon {
            background-color: var(--theme);
            color: var(--black);
        }
    }

    .title {
        font-weight: 400;
        font-size: 34px;
        line-height: 1.59;
        text-transform: capitalize;
        color: var(--white);
        border-bottom: 1px solid rgba(255, 255, 255, 0.14);

        @media #{$xl} {
            font-size: 30px;
        }

        @media #{$xl} {
            font-size: 24px;
        }

        @media #{$xs} {
            font-size: 20px;
        }

        a {
            width: 100%;
            display: block;
            padding-top: 23px;
            padding-bottom: 25px;
            display: flex;
            gap: 20px;
            align-items: center;

            @media #{$xl} {
                padding-top: 13px;
                padding-bottom: 15px;
            }

            &:hover {
                color: var(--theme);
            }
        }

        .icon {
            font-size: 26px;
            margin-left: auto;

            @media #{$xl} {
                font-size: 20px;
            }

            @media #{$xs} {
                font-size: 16px;
            }
        }
    }
}