/* testimonial css */
/* testimonial area style  */
.testimonial-area {
    background-color: var(--black);
}

.testimonial-inner {
    padding-top: 120px;
    padding-bottom: 139px;

    @media #{$xxl} {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    @media #{$xl} {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media #{$lg} {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}



.testimonial-header {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 30px;

    .subtitle-wrapper {
        display: flex;
        gap: 10px 30px;
        align-items: flex-start;

        @media #{$xs} {
            flex-direction: column;
        }
    }

    .section-subtitle-2 {
        color: rgba(255, 255, 255, 0.6);
        border-color: rgba(255, 255, 255, 0.1);
    }

    .testimonial-header-meta {
        display: flex;
        gap: 10px 30px;
        align-items: center;
        justify-content: space-between;
        margin-top: 3px;
        width: 100%;

        @media #{$xs} {
            flex-direction: column;
            align-items: flex-start;
        }

        .text {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: rgba(255, 255, 255, 0.6);
        }
    }

    .title-wrapper {
        margin-top: 18px;
    }

    .section-title-2 {
        color: rgba(255, 255, 255, 1);
    }
}

.testimonial-wrapper-box {
    margin-top: 62px;
}

.testimonial-item {
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 12px;
    padding: 60px 50px 67px;
    margin-bottom: 16px;
    box-shadow: 0px 16px 0px rgba(255, 255, 255, 0.06);

    @media #{$xxl} {
        padding: 30px 30px 27px;

    }

    .author {
        display: flex;
        gap: 20px 20px;

        @media #{$xs} {
            flex-direction: column;
        }
    }

    .avatar {
        width: 80px;
        height: 80px;
        min-width: 80px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }




    .meta {
        margin-top: 14px;

        @media #{$xs} {
            margin-top: 0;
        }
    }

    .rating {
        display: inline-flex;
        gap: 5px;

        i {
            color: #F5A915;
            font-size: 14px;
        }

    }

    .name {
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
        color: var(--white);
        margin-top: 14px;
    }

    .content {
        margin-top: 49px;

        @media #{$lg} {
            margin-top: 29px;
        }

        .text {
            font-weight: 400;
            font-size: 18px;
            line-height: 34px;
            color: rgba(255, 255, 255, 0.6);
        }
    }
}

/* testimonial-2 area style  */
.testimonial-2-wrapper-box {
    margin-top: 34px;
    border-top: 1px solid #DDDDDD;
    padding-top: 83px;

    @media #{$lg} {
        padding-top: 43px;
    }
}

.testimonial-2-item {
    display: grid;
    gap: 20px 40px;
    grid-template-columns: 1fr 845px;

    @media #{$xl} {
        grid-template-columns: 1fr 750px;
    }

    @media #{$lg} {
        grid-template-columns: 1fr 650px;
    }

    @media #{$md} {
        grid-template-columns: 1fr 450px;
    }

    @media #{$sm} {
        grid-template-columns: 1fr;
    }

    .author {
        margin-top: 14px;
    }

    .avatar {
        img {
            width: 190px;
            height: 190px;
            object-fit: cover;

            @media #{$lg} {
                width: 120px;
                height: 120px;
            }
        }
    }

    .meta {
        margin-top: 27px;
    }

    .name {
        font-weight: 400;
        font-size: 30px;
        line-height: 1;
        text-transform: capitalize;

        @media #{$lg} {
            font-size: 24px;
        }
    }

    .post {
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        text-transform: uppercase;
        display: inline-block;
        margin-top: 17px;
        color: rgba(15, 14, 14, 0.7);

        @media #{$lg} {
            margin-top: 12px;
        }
    }


    .content {
        display: grid;
        gap: 20px 60px;
        grid-template-columns: 80px 1fr;

        @media #{$md} {
            grid-template-columns: 1fr;
        }
    }

    .icon {
        margin-top: 17px;

        @media #{$xl} {
            margin-top: 14px;

        }
    }

    .text {
        font-weight: 400;
        font-size: 30px;
        line-height: 1.67;
        color: rgba(15, 14, 14, 0.8);

        @media #{$xl} {
            font-size: 26px;
        }

        @media #{$lg} {
            font-size: 22px;
        }

        @media #{$xs} {
            font-size: 20px;
        }
    }
}

.testimonial-2-nav-wrapper {
    margin-top: 113px;
    max-width: 645px;

    @media #{$lg} {
        margin-top: 63px;
        max-width: 545px;
    }
}


.testimonial-2-nav {
    display: flex;
    gap: 14px;
    flex-direction: column;
    align-items: flex-end;
}

.testimonial-2-button-prev {
    margin-right: 17px;
}

.testimonial-2-button-next {
    margin-left: 17px;
}

.testimonial-2-nav-btn {
    display: inline-block;
    color: var(--black);
    font-size: 20px;
}

.testimonial-2-pagination {
    position: relative;
    margin-top: 20px;

    &.swiper-pagination-progressbar {
        background: #DDDDDD;
        height: 4px;

        .swiper-pagination-progressbar-fill {
            background-color: var(--black);
        }
    }
}

/* testimonial-3 area style  */
.testimonial-3-area {
    background-color: #F6F6F9;
}

.testimonial-3-area-inner {
    padding-top: 120px;
    padding-bottom: 140px;

    @media #{$xxl} {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    @media #{$xl} {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media #{$lg} {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

/* testimonial-4 area style  */
.testimonial-4-area {
    background-color: #04030A;
}

.testimonial-4-header {
    margin-top: 16px;

    .section-title-wrapper {
        display: grid;
        gap: 40px 120px;
        grid-template-columns: auto 1fr;

        @media #{$xxl} {
            gap: 40px 60px;

        }

        @media #{$md} {
            grid-template-columns: 1fr;

        }
    }

    .subtitle-wrapper {
        margin-top: 4px;
    }

    .section-subtitle-4 {
        border-color: rgba(255, 255, 255, 0.14);
        color: rgba(180, 179, 181, 1);
    }

    .section-title-3 {
        font-family: var(--font_cooperhewitt);
        font-weight: 709;
        line-height: 1.28;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: var(--font-color);
        max-width: 490px;
    }

}

.testimonial-4-wrapper-box {
    margin-top: 86px;
    display: grid;
    gap: 30px 30px;
    grid-template-columns: 340px auto;
    margin-right: calc((100vw - var(--container-max-widths)) / -2 - 15px);

    @media #{$xxl} {
        margin-top: 56px;
    }

    @media #{$md} {
        margin-right: 0;
        grid-template-columns: auto;

    }
}

.testimonial-4-wrapper {
    overflow: hidden;
}

.testimonial-4-info-box {
    text-align: center;
    padding: 48px 30px 38px;
    background-color: var(--background);
    border-radius: 10px;

    @media #{$xs} {
        padding: 28px 15px 18px;
    }

    .rating {
        font-family: var(--font_cooperhewitt);
        font-weight: 709;
        font-size: 60px;
        line-height: 0.7;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: var(--white);
        display: inline-block;

        @media #{$lg} {
            font-size: 50px;
        }
    }

    .title {
        font-family: var(--font_cooperhewitt);
        font-weight: 707;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: var(--white);
        margin-top: 18px;
    }

    .client-gallery {
        margin-top: 19px;
        display: flex;
        justify-content: center;

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;

            &:not(:first-child) {
                margin-left: -15px;
            }
        }
    }

    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 27px;

        span {
            color: var(--white);
        }
    }


}

.testimonial-4-item {
    padding: 40px 40px 43px;
    background-color: var(--background);
    border-radius: 10px;

    @media #{$xs} {
        padding: 15px 15px 18px;
    }

    .author-wrapper {
        display: flex;
        gap: 20px 30px;
        align-items: center;
        justify-content: space-between;

        @media #{$xs} {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .author {
        display: flex;
        gap: 0 14px;
    }

    .avatar {
        width: 60px;
        min-width: 60px;
        height: 60px;
        border-radius: 4px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .meta {
        margin-top: 11px;
    }

    .name {
        font-family: var(--font_cooperhewitt);
        font-weight: 709;
        font-size: 20px;
        line-height: 1;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: var(--white);
    }

    .post {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: rgba(187, 187, 187, 1);
    }

    .rating {
        display: inline-flex;
        gap: 8px;

        i {
            color: rgba(255, 160, 0, 1);
            font-size: 14px;
        }
    }

    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: rgba(187, 187, 187, 1);
    }

    .content {
        display: flex;
        gap: 30px 40px;
        margin-top: 47px;

        @media #{$xs} {
            flex-direction: column;
            margin-top: 27px;
        }
    }

    .icon {
        margin-top: 9px;

        img {
            width: 40px;
            min-width: 40px;
            opacity: 0.1;
        }
    }


}

/* testimonial-5 area style  */
.testimonial-5-inner {
    padding-top: 110px;

    @media #{$xl} {
        padding-top: 80px;
    }

    @media #{$lg} {
        padding-top: 60px;
    }
}

.testimonial-5-title {
    font-weight: 600;
    font-size: 200px;
    line-height: 0.9;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;

    @media #{$xxl} {
        font-size: 150px;
    }

    @media #{$xl} {
        font-size: 130px;
    }

    @media #{$lg} {
        font-size: 110px;
        font-weight: 500;
    }

    @media #{$md} {
        font-size: 80px;
    }

    @media #{$sm} {
        font-size: 60px;
    }

    @media #{$xs} {
        font-size: 35px;
    }
}


.testimonial-5-wrapper-box {
    margin-top: 100px;

    @media #{$xl} {
        margin-top: 80px;
    }

    @media #{$lg} {
        margin-top: 60px;
    }
}

.testimonial-5-item {
    .content {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        padding: 30px 30px;
        transition: all 0.5s;

        @media #{$xxl} {
            padding: 20px 20px;
        }
    }


    .info {
        font-family: var(--font_roboto);
        font-weight: 400;
        font-size: 18px;
        line-height: 1.89;
        color: rgba(255, 255, 255, 0.6);

        @media #{$xxl} {
            font-size: 16px;
        }
    }

    .rating {
        display: inline-flex;
        gap: 5px;
        padding: 7px 15px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 100px;
        margin-top: 127px;

        @media #{$xxl} {
            margin-top: 67px;
        }

        @media #{$xl} {
            margin-top: 17px;
        }

        i {
            font-size: 14px;
            color: #FF8000;
        }
    }

    .text-wrapper {
        margin-top: 14px;
    }

    .text {
        font-family: var(--font_roboto);
        font-weight: 400;
        font-size: 18px;
        line-height: 1.89;
        color: rgba(255, 255, 255, 0.6);

        @media #{$xxl} {
            font-size: 16px;
        }
    }

    .avatar {
        width: 54px;
        height: 54px;
        min-width: 54px;
        border-radius: 100px;
        overflow: hidden;
    }

    .author {
        display: flex;
        gap: 14px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 10px;
        padding: 20px;
        border-radius: 14px;
        align-items: center;
        transition: all 0.5s;
    }

    .name {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: var(--white);

        @media #{$xxl} {
            font-size: 20px;
        }
    }

    .post {
        font-family: var(--font_roboto);
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 6px;
    }
}

.testimonial-5-active {
    .swiper-slide-active {
        .content {
            border-color: transparent;
            background-color: #171717;

            @media #{$lg} {
                border-color: rgba(255, 255, 255, 0.1);
                background-color: transparent;
            }
        }

        .author {
            border-color: transparent;
            background-color: #171717;

            @media #{$lg} {
                border-color: rgba(255, 255, 255, 0.1);
                background-color: transparent;
            }
        }
    }
}

.testimonial-5-nav-wrapper {
    margin-top: 60px;
    text-align: center;

    @media #{$xxl} {
        margin-top: 50px;
    }

    @media #{$lg} {
        margin-top: 40px;
    }
}

.testimonial-5-nav {
    background-color: #DDF160;
    display: inline-flex;
    gap: 30px;
    padding: 12px 24px;
    border-radius: 100px;
    align-items: center;
}

.testimonial-5-nav-btn {
    width: 22px;
    height: 22px;
    min-width: 22px;
    border: 1px solid rgba(18, 18, 18, 0.1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #121212;
    font-size: 14px;
}

.testimonial-5-pagination {
    position: static;
    display: inline-flex;
    gap: 5px;

    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        background-color: rgba(18, 18, 18, 0.1);
        border-radius: 50%;
        opacity: 1;
        margin: 0;

        &.swiper-pagination-bullet-active {
            background-color: #121212;
        }
    }

    &.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
    }
}