/* button css */
.ui-btn {
  display: inline-flex;

  &:hover {
    .btn-text {
      background-color: var(--theme);
      color: var(--black);
    }

    .btn-icon {
      background-color: var(--theme);
      color: var(--black);
    }
  }

  .btn-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    padding: 14px 24px;
    background-color: var(--black);
    border-radius: 10px;
    color: var(--white);
    transition: all 0.3s;
  }

  .btn-icon {
    width: 46px;
    background-color: var(--black);
    color: var(--white);
    font-size: 16px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  &.bordered {
    &:hover {
      .btn-text {
        background-color: var(--theme);
        border-color: transparent;
      }

      .btn-icon {
        background-color: var(--theme);
        border-color: transparent;
      }
    }

    .btn-text {
      background-color: transparent;
      border: 1px solid var(--black);
      padding: 13px 23px;
      color: var(--black);
    }

    .btn-icon {
      background-color: transparent;
      border: 1px solid var(--black);
      color: var(--black);
    }
  }

  &.circle {
    .btn-text {
      border-radius: 100px;
    }

    .btn-icon {
      border-radius: 100px;
    }
  }

  &.reversed {
    flex-direction: row-reverse;
    gap: 10px;

    &:hover {
      .btn-icon {
        transform: translateX(10px);
      }
    }
  }
  &.v2 {
    &.bordered {
      &:hover {
        .btn-text {
          background-color: var(--theme);
          color: var(--black);
          border-color: var(--black);
        }

        .btn-icon {
          background-color: var(--theme);
          border-color: var(--black);
          color: var(--black);
        }
      }

      .btn-text {
        background-color: transparent;
        border: 1px solid var(--white);
        padding: 13px 23px;
        color: var(--white);
      }

      .btn-icon {
        background-color: transparent;
        border: 1px solid var(--white);
        color: var(--white);
      }
    }
  }
}

.ui-btn-2 {
  display: inline-flex;
  gap: 34px;
  align-items: center;
  padding: 5px 34px 5px 5px;
  background-color: rgba(221, 241, 96, 1);
  border-radius: 30px;

  &:hover {
    background-color: var(--white);

    .btn-text {
      color: var(--black);
    }

    .btn-icon {
      background-color: rgba(221, 241, 96, 1);
      color: var(--black);
    }
  }

  .btn-text {
    font-family: var(--font_roboto);
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    color: var(--black);
    transition: all 0.3s;
  }

  .btn-icon {
    width: 40px;
    height: 40px;
    background-color: var(--black);
    color: var(--white);
    font-size: 16px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
}

.ui-btn-underline {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: var(--primary);
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 0px;
  white-space: nowrap;

  &:hover {
    &::before {
      width: 0;
    }

    i {
      rotate: 0deg;
    }
  }

  &::before {
    position: absolute;
    content: "";
    inset-inline-start: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: 0.3s;
  }

  .icon {
    display: flex;
  }

  i {
    font-size: 17px;
    font-weight: 400;
    // rotate: -50deg;
    transition: all 0.3s;
  }
}

// Button Animation KeyFrame
@keyframes mask_animation {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes mask_animation_2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

//
// Button Hover Animation
//
.btn {
  &-hover {
    &-default {
      transition: all 0.5s;

      &:hover {
        color: var(--black);
        background-color: var(--white);
      }
    }

    &-cross {
      overflow: hidden;
      position: relative;
      transition: all 1s;

      &::after {
        position: absolute;
        content: "";
        width: 150%;
        height: 0%;
        left: 50%;
        top: 50%;
        background-color: var(--primary);
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
        transition: all 0.75s;
        opacity: 0.5;
        z-index: -1;
      }

      &:hover {
        border-color: var(--primary);
        background-color: transparent;

        &::after {
          height: 120%;
          opacity: 1;
        }
      }
    }

    &-divide {
      overflow: hidden;
      position: relative;
      transition: all 1s;
      z-index: 1;

      &::after {
        position: absolute;
        content: "";
        width: 150%;
        height: 0%;
        left: 50%;
        top: 50%;
        background-color: var(--primary);
        transform: translateX(-50%) translateY(-50%) rotate(90deg);
        transition: all 0.75s;
        opacity: 0.5;
        z-index: -1;
      }

      &:hover {
        border-color: var(--primary);
        background-color: transparent !important;
        border-color: transparent;

        &::after {
          height: 400%;
          opacity: 1;
        }
      }
    }

    &-cropping {
      overflow: hidden;
      position: relative;
      transition: all 1s;

      &::after {
        position: absolute;
        content: "";
        width: 150%;
        height: 0%;
        left: 50%;
        top: 50%;
        background-color: var(--primary);
        transform: translateX(-50%) translateY(-50%) rotate(25deg);
        transition: all 0.75s;
        opacity: 0.5;
        z-index: -1;
      }

      &:hover {
        border-color: var(--primary);
        background-color: transparent;

        &::after {
          height: 400%;
          opacity: 1;
        }
      }
    }

    &-mask {
      gap: 10px;
      display: inline-flex;
      align-items: center;
      padding: 15px 30px;
      position: relative;
      overflow: hidden;
      transition: all 0.5s;
      border-radius: 5px;
      color: var(--white);
      font-weight: 400;
      font-size: 16px;
      border: 1px solid var(--white);
      z-index: 1;

      &::after {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--black);
        position: absolute;
        content: attr(data-text);
        cursor: pointer;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: var(--white);
        mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.webp");
        mask-size: 2300% 100%;
        animation: mask_animation_2 0.7s steps(22) forwards;
      }

      &:hover {
        color: var(--white);

        &::after {
          animation: mask_animation 0.7s steps(22) forwards;
        }
      }
    }
  }

  &-rollover {
    &-top {
      position: relative;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

      &:before {
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 0px;
        width: 100%;
        z-index: -1;
        content: "";
        background-color: var(--primary);
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      }

      &:hover {
        border-color: var(--primary);
        background-color: transparent;

        &::before {
          top: 0%;
          bottom: auto;
          height: 100%;
        }
      }
    }

    &-left {
      position: relative;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

      &::before {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: "";
        background-color: var(--primary);
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
      }

      &:hover {
        border-color: var(--primary);
        background-color: transparent;

        &::before {
          left: 0%;
          right: auto;
          width: 100%;
        }
      }
    }

    &-cross {
      overflow: hidden;
      position: relative;
      transition: all 0.5s;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        bottom: 100%;
        left: 100%;
        opacity: 0;
        border-bottom: 3px solid var(--primary);
        border-left: 3px solid var(--primary);
        transition: all 0.75s;
      }

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 100%;
        right: 100%;
        opacity: 0;
        border-top: 3px solid var(--primary);
        border-right: 3px solid var(--primary);
        transition: all 0.75s;
      }

      &:hover {
        border-color: transparent;
        color: var(--primary);

        &::before {
          bottom: 0;
          left: 0;
          opacity: 1;
          width: 100%;
          height: 100%;
        }

        &::after {
          top: 0;
          right: 0;
          opacity: 1;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &-parallal-border {
    overflow: hidden;
    position: relative;
    transition: all 0.5s;

    &::before {
      position: absolute;
      content: "";
      width: 0%;
      height: 0%;
      bottom: 0;
      left: 0;
      opacity: 0;
      border-bottom: 3px solid var(--primary);
      border-left: 3px solid var(--primary);
      border-radius: 5px;
      transition: all 0.75s;
    }

    &::after {
      position: absolute;
      content: "";
      width: 0%;
      height: 0%;
      top: 0;
      right: 0;
      opacity: 0;
      border-top: 3px solid var(--primary);
      border-right: 3px solid var(--primary);
      border-radius: 5px;
      transition: all 0.75s;
    }

    &:hover {
      border-color: transparent;
      color: var(--primary);

      &::before {
        opacity: 1;
        width: 100%;
        height: 100%;
      }

      &::after {
        opacity: 1;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.circle-text {
  width: 140px;
  height: 140px;
  position: relative;
  border-radius: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  overflow: hidden;

  @media #{$md} {
    width: 120px;
    height: 120px;
  }

  .text {
    animation: spinner 5s infinite linear;
  }

  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 37px solid transparent;
    border-radius: 50%;
  }
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}

// ui-btn-group
.ui-btn-group {
  display: inline-flex;

  > *:nth-child(1) {
    transform: scale3d(0.5, 0.5, 1);
    margin-right: -46px;
    transition: all 0.3s;
  }

  > *:nth-child(2) {
    transform: scale3d(1, 1, 1);
    transition: all 0.3s;
  }

  > *:nth-child(3) {
    transform: scale3d(1, 1, 1);
    margin-left: 0;
    transition: all 0.3s;
  }

  &:hover {
    > *:nth-child(1) {
      transform: scale3d(1, 1, 1);
      margin-right: 0;
    }

    > *:nth-child(2) {
      transform: scale3d(1, 1, 1);
    }

    > *:nth-child(3) {
      transform: scale3d(0.5, 0.5, 1);
      margin-left: -46px;
    }
  }

  .btn-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    padding: 14px 24px;
    background-color: var(--black);
    border-radius: 100px;
    color: var(--white);
    transition: all 0.3s;
    z-index: 1;
  }

  .btn-icon {
    width: 46px;
    background-color: var(--black);
    color: var(--white);
    font-size: 16px;
    border-radius: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  &.bordered {
    &:hover {
      .btn-text {
        background-color: var(--theme);
        border-color: transparent;
      }

      .btn-icon {
        background-color: var(--theme);
        border-color: transparent;
      }
    }

    .btn-text {
      background-color: var(--white);
      border: 1px solid #eeeeee;
      padding: 13px 23px;
      color: var(--black);
    }

    .btn-icon {
      background-color: var(--white);
      border: 1px solid #eeeeee;
      color: var(--black);
    }
  }
}

// ui-btn-group-2
.ui-btn-group-2 {
  display: inline-flex;
  gap: 2px;

  > *:nth-child(1) {
    transform: scale3d(1, 1, 1);
    margin-right: 0;
    transition: all 0.3s;
  }

  > *:nth-child(2) {
    transform: scale3d(1, 1, 1);
    transition: all 0.3s;
  }

  > *:nth-child(3) {
    transform: scale3d(0.5, 0.5, 1);
    margin-left: -46px;
    transition: all 0.3s;
  }

  &:hover {
    > *:nth-child(1) {
      transform: scale3d(0.5, 0.5, 1);
      margin-right: -46px;
    }

    > *:nth-child(2) {
      transform: scale3d(1, 1, 1);
    }

    > *:nth-child(3) {
      transform: scale3d(1, 1, 1);
      margin-left: 0;
    }
  }

  .btn-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    padding: 14px 24px;
    background-color: var(--black);
    border-radius: 100px;
    color: var(--white);
    transition: all 0.3s;
    z-index: 1;
  }

  .btn-icon {
    width: 46px;
    min-width: 46px;
    background-color: var(--black);
    color: var(--white);
    font-size: 16px;
    border-radius: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  &.bordered {
    &:hover {
      .btn-text {
        background-color: var(--theme);
        border-color: transparent;
      }

      .btn-icon {
        background-color: var(--theme);
        border-color: transparent;
      }
    }

    .btn-text {
      background-color: var(--white);
      border: 1px solid #04030a;
      padding: 13px 23px;
      color: var(--black);
    }

    .btn-icon {
      background-color: var(--white);
      border: 1px solid #04030a;
      color: var(--black);
    }
  }
}
