/* img-reveal css */
/* img-reveal area style  */
.hover-content {
    position: relative;
    z-index: 2;
}

.content__img {
    width: 290px;
    aspect-ratio: 1/1.24;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    will-change: transform, filter;

    @media #{$xxl} {
        width: 220px;
    }

    @media #{$xl} {
        width: 190px;
    }

    @media #{$lg} {
        width: 150px;
    }
}

.content__img-inner {
    background-position: 50% 50%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-size: cover;
    position: absolute;
    top: calc(-1 * 10px / 2);
    left: calc(-1 * 10px / 2);
}