
#showcase-slider-holder {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  opacity: 1;
  z-index: 2;
}
.port-showcase-slider-item {
  height: 100vh;
}
.port-showcase-slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  vertical-align: middle;
  transform: translate(-50%, -50%);
}
.port-showcase-slider-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 30px;
  display: inline-block;
  color: #fff;
}
.port-showcase-slider-title {
  font-size: 215px;
  font-weight: 500;
  line-height: 0.8;
  color: #fff;
  font-family: "Teko", serif;
  letter-spacing: -6px;

  @media #{$xl} {
    font-size: 145px;
  }
  @media #{$md} {
    font-size: 120px;
  }
  @media #{$xs} {
    font-size: 90px;
  }
}

.tp-showcase-arrow-box {
  position: absolute;
  bottom: 80px;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 0 100px;

  button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;

    &.swiper-prev i {
      transition: 0.3s;
      margin-right: 5px;
    }
    &.swiper-next i {
      transition: 0.3s;
      margin-left: 5px;
    }
    i {
      transform: translateY(1px);
    }
  }
}


.port-showcase-slider-social {
  position: absolute;
  bottom: 75px;
  z-index: 99;
  left: 50%;
  text-align: center;
  a {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin: 0 12px;
    color: #fff;
  }
}

#canvas-slider {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  -webkit-transition: width 0.5s ease-in-out 0;
  transition: width 0.5s ease-in-out 0s;
  z-index: 1;
  .slider-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-color: #222;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

// advance effect horizontal slider
.wpr-advance_slider_wrapper {
  overflow: hidden;
}
.wpr-advance_slider_wrapper .swiper-slide {
  overflow: hidden;
}
.wpr-advance_slider_wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.wpr-advance_slider_wrapper .swiper-slide-title > a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
.wpr-advance_slider_wrapper .swiper-slide-desc {
  margin-bottom: 15px;
  color: #fff;
  font-family: "Kanit", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 15px 0;
}
.wpr-advance_slider_wrapper .ts-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 52px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
}
@media (max-width: 767px) {
  .wpr-advance_slider_wrapper .ts-navigation {
    bottom: 20px;
  }
}
.wpr-advance_slider_wrapper .ts-pagination .swiper-pagination-bullet {
  margin: 0 !important;
  transition: all 0.3s;
  background-color: #fff;
}
.wpr-advance_slider_wrapper .ts-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
.wpr-advance_slider_wrapper .ts-pagination .swiper-pagination {
  display: flex;
  gap: 20px;
}
.wpr-advance_slider_wrapper .ts-pagination .swiper-pagination-horizontal {
  justify-content: center;
}
.wpr-advance_slider_wrapper .ts-pagination .swiper-pagination-horizontal .swiper-pagination-bullet {
  width: 30px;
  height: 2px;
}
@media (max-width: 767px) {
  .wpr-advance_slider_wrapper .ts-pagination .swiper-pagination-horizontal .swiper-pagination-bullet {
    width: 15px;
  }
}
.wpr-advance_slider_wrapper .ts-pagination .swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 60px;
}
@media (max-width: 767px) {
  .wpr-advance_slider_wrapper .ts-pagination .swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
  }
}
.wpr-advance_slider_wrapper .ts-pagination .swiper-pagination-vertical {
  flex-direction: column;
}
.wpr-advance_slider_wrapper .ts-pagination .swiper-pagination-vertical .swiper-pagination-bullet {
  width: 2px;
  height: 30px;
}
.wpr-advance_slider_wrapper .ts-pagination .swiper-pagination-vertical .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 60px;
}
.wpr-advance_slider_wrapper .wpr-arrow {
  cursor: pointer;
  position: relative;
  z-index: 11;
  padding: 8px;
  font-size: 20px;
  line-height: 0;
  border: 1px solid #cacaca;
  transition: all 0.3s;
}
.wpr-advance_slider_wrapper .wpr-arrow i,
.wpr-advance_slider_wrapper .wpr-arrow svg {
  width: 1em;
  height: auto;
}
.wpr-advance_slider_wrapper .wpr-arrow.swiper-button-disabled {
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}
.wpr-advance_slider_wrapper .swiper-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 30px;
}
@media (max-width: 767px) {
  .wpr-advance_slider_wrapper .swiper-slide-content {
    padding: 0 15px;
  }
}

.swiper-gl {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.swiper-gl .swiper-slide {
  position: relative;
}
.swiper-gl .swiper-gl-image {
  display: none;
}
.swiper-gl > canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.swiper-gl .swiper-gl-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  left: 0;
  top: 0;
}

.swiper-slicer {
  width: 100%;
  height: 100vh;
}
.swiper-slicer .swiper-slicer-image,
.swiper-slicer .swiper-slicer-image-clone,
.swiper-slicer .swiper-slicer-image-clones {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.swiper-slicer .swiper-slicer-image {
  display: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  max-width: none !important;
}
.swiper-slicer .swiper-slicer-image-clone {
  overflow: hidden;
  transition-timing-function: cubic-bezier(1, 0, 0.5, 1);
}
.swiper-slicer .swiper-slicer-image-clone .swiper-slicer-image {
  display: block;
}
.swiper-slicer .swiper-slide-active {
  z-index: 1;
}
.swiper-slicer .swiper-slide-content {
  position: relative;
}

.swiper-shutters {
  width: 100%;
  height: 100vh;
}
.swiper-shutters .swiper-shutters-image,
.swiper-shutters .swiper-shutters-image-clone,
.swiper-shutters .swiper-shutters-image-clones {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.swiper-shutters .swiper-shutters-image {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  max-width: none !important;
}
.swiper-shutters .swiper-shutters-image-clone {
  overflow: hidden;
}

.swiper-fashion {
  width: 100%;
  height: 100vh;
  transition: 1s background-color 1.3s;
}
.swiper-fashion .swiper-slide-content {
  justify-content: center;
  align-items: center;
  transition-delay: 1s;
  z-index: 10;
  text-align: center;
}
.swiper-fashion .swiper-slide-title {
  font-weight: 700;
  font-size: 80px;
  -webkit-text-stroke: 2px #fff;
  order: 1;
}
@media (max-width: 880px) {
  .swiper-fashion .swiper-slide-title {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .swiper-fashion .swiper-slide-title {
    font-size: 40px;
  }
}

.fashion-slider-no-transition {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
  transition-property: none !important;
}
.fashion-slider-no-transition :not(.swiper-wrapper) {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
  transition-property: none !important;
}
.fashion-slider-no-transition .swiper-wrapper {
  transition-delay: 0s !important;
}

.fashion-slider-no-transition :not(.swiper-wrapper) {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
  transition-property: none !important;
}

.swiper-fashion .swiper-wrapper {
  transition-delay: 1s;
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}

.fashion-slider-scale {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0.6, 0.6);
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  opacity: 0.9;
  overflow: hidden;
}
.fashion-slider-scale img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transform: scale(1.2, 1.2) translateX(50%);
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  transition-property: transform;
}

.swiper-spring {
  width: 100%;
  height: 320px;
  position: relative;
}
.swiper-spring .swiper-slide {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 24px;
  transition-timing-function: cubic-bezier(0.76, 0.09, 0.215, 1);
}
.swiper-spring .swiper-slide-content {
  position: relative;
  height: auto;
  padding: 0;
}
.swiper-spring .swiper-slide img {
  flex: 1;
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-carousel {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  height: 400px;
  overflow: hidden;
}
.swiper-carousel .swiper-slide .swiper-slide-content {
  opacity: 0;
}
.swiper-carousel .swiper-slide-active .swiper-slide-content {
  opacity: 1;
  transition: all 0.3s ease-in;
}

.swiper-poster {
  overflow: visible;
  max-width: 400px;
  height: 550px;
}
.swiper-poster .swiper-slide {
  border-radius: 10px;
}

.swiper-material {
  height: 300px;
  max-width: 800px;
  --swiper-material-scale: 1;
  --swiper-material-slide-size: 100%;
  --swiper-material-slide-border-radius: 32px;
}
.swiper-material .swiper-slide {
  overflow: visible;
}
.swiper-material .swiper-material-wrapper {
  border-radius: var(--swiper-material-slide-border-radius);
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  pointer-events: auto;
}
.swiper-material .swiper-material-content {
  position: absolute;
  transform: translate3d(0, 0, 0);
}
.swiper-material .swiper-horizontal .swiper-material-content {
  height: 100%;
  width: var(--swiper-material-slide-size);
  left: calc(50% - var(--swiper-material-slide-size) / 2);
  top: 0;
}
.swiper-material .swiper-vertical .swiper-material-content {
  width: 100%;
  height: var(--swiper-material-slide-size);
  top: calc(50% - var(--swiper-material-slide-size) / 2);
  left: 0;
}

.wpr-arrow.wpr-arrow-prev,
.wpr-arrow.wpr-arrow-next {
  font-size: 62px;
  border-style: none;
}

.ts-pagination .swiper-pagination-horizontal {
  bottom: 56px;
}
@media (max-width: 767px) {
  .ts-pagination .swiper-pagination-horizontal {
    bottom: 10px;
  }
}
.ts-pagination .swiper-pagination-vertical {
  right: 56px;
}
@media (max-width: 767px) {
  .ts-pagination .swiper-pagination-vertical {
    right: 25px;
  }
}
.ts-pagination .swiper-pagination-bullet {
  background-color: #fff;
}
.ts-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

.wpr-arrow svg {
  height: auto;
}