.portfolio-5 {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;

  .swiper {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
  }

  &__item {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .swiper-slicer-image {
    max-width: unset;
  }

  img {
    margin: 0 !important;
    padding: 0 !important;
  }

  &__content {
    z-index: 9;
    left: 50%;
    bottom: 200px;
    position: absolute;
    transform: translateX(-50%);
    width: max-content;

    @media #{$xs} {
      left: 50px;
      transform: inherit;
      width: auto;
    }

    &-title {
      opacity: 0;
      font-size: 100px;
      line-height: 1.05;
      color: var(--white);
      font-family: "BDO Grotesk";

      a:hover {
        color: var(--white);
      }

      @media #{$xs} {
        font-size: 60px;
      }
    }
  }

  &__list {
    opacity: 0;
    display: flex;
    margin-top: 40px;
    align-items: center;
    transform: translateY(-150px);

    li {
      list-style: none;

      a {
        font-size: 14px;
        border-radius: 20px;
        padding: 10px 17px;
        color: var(--white);
        text-transform: uppercase;
        border: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }

  .swiper-slide-active {
    .portfolio-5__item {
      animation-name: qodef-animate-slide-out;
      animation-duration: 1.3s;
      animation-fill-mode: forwards;
    }

    .portfolio-5__content-title {
      transition: all 2200ms ease;
      animation: slideFadeIn 2.2s ease forwards;
    }

    .portfolio-5__list {
      opacity: 1;
      transform: translatey(0px);
      transition: all 2000ms ease;
    }
  }

  &__slider {
    width: 100vw;
    height: 100vh;

    &__arrow {
      gap: 40px;
      left: 50px;
      right: 50px;
      bottom: 50px;
      z-index: 99;
      display: flex;
      position: absolute;
      align-items: center;

      @media #{$lg} {
        gap: 20px;
      }

      &-prev,
      &-next {
        gap: 8px;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        align-items: center;
        color: var(--white);
      }
    }
  }

  .portfolio-5-pagination {
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 9;
    display: flex;
    gap: 15px;
    top: inherit;
    right: 0;
    transform: translateX(-50%);
  }

  .swiper-pagination-bullet {
    width: 150px;
    height: 10px;
    display: inline-block;
    margin: 0 5px;
    overflow: hidden;
    transition: 0.4s;
    position: relative;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);

    @media #{$xl} {
      width: 120px;
    }

    @media #{$lg} {
      width: 90px;
    }

    @media #{$sm} {
      width: 70px;
      bottom: 45px;
    }

    &::before {
      content: "";
      width: 150px;
      height: 100%;
      position: absolute;
      transition: 0.6s;
      z-index: 9;
      left: 0;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.3);
    }

    &::after {
      content: "";
      width: 0;
      height: 100%;
      position: absolute;
      transition: 0.6s;
      z-index: 8;
      left: 0;
      background-color: var(--white);
    }

    &-active::after {
      opacity: 1;
      width: 100%;
    }
  }
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(-130px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
