/* pricing css */
/* pricing area style  */
.pricing-header {
    .title-wrapper {
        margin-top: 15px;
        position: relative;
        z-index: 1;
    }

    .section-title {
        display: inline;
        padding-right: 36px;
        background-color: var(--white);
        max-width: 780px;
    }

    .line-shape {
        width: 100%;
        height: 1px;
        background-color: var(--border);
        display: inline-block;
        position: absolute;
        bottom: 29px;
        right: 0;
        z-index: -1;

        @media #{$xl} {
            bottom: 26px;
        }

        @media #{$md} {
            bottom: 18px;
        }

        @media #{$sm} {
            display: none;
        }
    }

    .line-shape-image {
        position: absolute;
        right: 0;
        padding-left: 36px;
        width: 161px;
        background-color: var(--white);
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        @media #{$xl} {
            width: 131px;
        }

        @media #{$md} {
            width: 101px;
        }

        img {
            animation: spinner 10s infinite linear;
        }
    }
}

.pricing-wrapper-box {
    margin-top: 120px;

    @media #{$lg} {
        margin-top: 110px;
    }

    @media #{$sm} {
        margin-top: 46px;
    }
}



.price-box {
    border-bottom: 1px solid var(--border);
    padding: 31px 20px 33px;

    @media #{$lg} {
        padding: 21px 20px 23px;
    }

    .content {
        display: grid;
        gap: 20px 40px;
        grid-template-columns: 310px 1fr 300px;
        align-items: center;

        @media #{$xl} {
            grid-template-columns: 270px 1fr 250px;
        }

        @media #{$lg} {
            grid-template-columns: 190px 1fr 170px;
        }

        @media #{$sm} {
            grid-template-columns: 1fr;
        }
    }

    .title {
        font-weight: 400;
        font-size: 30px;
        line-height: 1.4;
        text-transform: capitalize;

        @media #{$lg} {
            font-size: 24px;
        }
    }

    .feature-list {
        display: grid;
        gap: 10px;
        grid-template-columns: auto auto;
        justify-content: space-between;

        @media #{$md} {
            grid-template-columns: auto;
        }

        li {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            list-style: none;
            display: flex;
            align-items: center;

            &:before {
                content: "";
                width: 4px;
                height: 4px;
                background-color: currentColor;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }

    .price {
        font-weight: 400;
        font-size: 44px;
        line-height: 1.23;
        text-transform: capitalize;
        display: inline-block;
        color: var(--black);
        text-align: end;

        @media #{$lg} {
            font-size: 34px;
        }

        @media #{$sm} {
            text-align: start;
        }
    }

    &:first-child {
        border-top: 1px solid var(--border);
    }
}